/*.username {
    margin-top: 0;
    margin-right: 0;
    margin-left: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FFF;
}*/

.nav-tab {
    cursor: pointer;
}

.active {
    font-weight: bold;
}

.work-in-progress {
    display: flex;
    justify-content: center;
    align-items: center;
}